/* --FLOAT-- */
.green{
    background-color: green;
    float:left;
}
.red{
    background-color: red;
    float:right;
}
.blue{
    background-color: blue;
    float:right;
}
.box{
    width: 200px;
    height:200px;
    display:inline;
    margin: 20px;
    padding:10px
}

.wrapper{
    background-color: #fff;
    max-width:960px;
    margin:0 auto; 
    padding:20px; 
    position:relative;
    z-index:0; 
}
.wrapper:after{
    content:"";
    display:block;
    clear:both;              

}  
.services{
    margin-bottom:40px;
    max-height: 150px;
    border:2px solid #333;
    overflow:scroll;
}
.services::after{  
    content:"";
    display:block;
    clear:both;
   
} 
.service h2, .service p{
    color:#999;
    margin:10px 0;
    text-align:center;
    
}
/* ---RELATIVE POSITION--- */
.service{
    float:left;
    background:#eee;
    width:29%;
    margin:1%;
    padding:1%;
    height:140px;
    position:relative;
  
}
.service:nth-child(1){
    top:5px;

}       
.service:nth-child(2){         
    top:15px

}
.service:nth-child(3){                             
    top:25px;

}
.content{
    padding:10px;
    background-color: rgb(234, 229, 227);
     margin:30px 1%;
     clear:left;
     position:relative;
      left: 5px;
     bottom:7%;
    /* ---❌❌❌❌❌❌❌❌❌❌--- */
     /* clear:both; */ 
    
}

/* ---❌❌❌❌❌SHORTCUTs❌❌❌❌❌--- */
.content p{
     -webkit-column-count:4;
     column-count:4;
      -webkit-column-gap:10px;
      column-gap:10px;
      -webkit-column-rule:1px dashed #ccc;
      column-rule:1px dashed #ccc;
      text-align:justify;


}
section,aside{
    float:left;
    width:46%;
    padding:1%;
    margin:1%;
    background-color: #f2f2f2;
}
.columns:after{
   display:block;
   content:"";
   clear:both; 
         
}
/* ---ABSOLUTE POSITION--- */
.banner{
    max-height:300px;
    overflow:hidden;
    margin:1%;
    position:relative;
}
.banner h2{
    position:absolute;
    top:30px;
    width:100%;
    margin:0;
    text-align: center;
    color: #000;; 
}

/* ---FIXED POSITION--- */
nav{
    background: #333;
    padding:5px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:40px;
    z-index:1;
}
nav ul:after{
   content:"";
   display:block;
   clear:both; 
}
nav li{
    list-style-type: none;
    margin: 0 10px;
    color:#fff;
     float:right; 
}
                
      