h1{
    color:chartreuse;
    background-color:whitesmoke;
    font-size:30px;
    text-decoration:double;
    font-family: Arial;
    text-align:center;
}               
p{
    line-height: 25px;
    letter-spacing: 2px;
    column-count: 3;
    column-gap: 30px;
}   
 ul{
    /* border-width: 4px;
    border-style:dotted;
    border-color: blue; */
    border: 4px dotted blue;
    border-top:3px solid yellow;
 }
li{
    list-style-type: circle;
    text-shadow: 2px 2px lightgray;
}
div{
    border: 2px solid red;

}
/* selectors */
/* --class-- */
.one{
    color:cadetblue;
}

p.one{
    color:chartreuse;
}

h1.one.two{
    color:brown;
}
/* ---id--- */
#content{
    color: pink;
}
div#content{
    color:yellow
}


a[ href="google.com"]{
    color:black;
    background-color: blueviolet;
    text-transform: uppercase;
}
a[href*="instagram"]{
    color:chartreuse
}  

/* end with .com */
a[href$=".com"]{
    color:chartreuse
}    

div{
    text-decoration: solid;
   
    margin:30px
}
p{
    border:inherit;
    text-transform:lowercase;
}
  
div p{
    text-transform:uppercase;
}
